.wrapper div {
	background: #eeeeee;
	padding: 1em;
}
.wrapper div:nth-child(odd){
	background: #dddddd;
	padding: 1em;
}
.wrapper {
	display: grid;
	grid-template-columns: 3fr 1.5fr 1.5fr;
	grid-gap: 1em;
	grid-auto-rows: minmax(100px,auto); 
}
.nested {
	display: grid;
	grid-template-rows: 1fr 2fr 1fr;
	grid-auto-columns: 100px;
	grid-gap: 1em;
}
.nested div {
	padding: 4px;
}
.nested .nested2 {
	display: grid;
	grid-template-columns: repeat(3,1fr);
	grid-gap: 3em;
	grid-auto-rows: minmax(100px,auto); 
}